nav#landmarks {
    display:none;
}

nav#page-list {
    display:none;
}

ol {
    list-style-type: none;
	padding-left:1em;
}
li {
	line-height:1.6em;
	margin-top:0.5em;
	}
h1 {
	border-bottom:1px dotted #000000;
	font-size:1.4em;
	margin-bottom:1em;
	padding-bottom:0.3em;
	}
a {
	color:#404040;
	text-decoration:none;
	}
.ph1 {
	margin-top:1.25em;
	}